table {
    width: 300px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: gray;
    color: white;
}

td, th {
    border: 1px solid #000;
    padding: 3px;
    text-align: center;
}